.header {
    font-family: "cairo";
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
body {
    background-color: #03a9f4;
}
.parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}
.parent div {
    margin: 10px 50px;
    border: 10px solid #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "cairo";
    font-size: 53px;
    width: 100px;
    height: 100px;
    transition-duration: 0.5s;
}
.parent div a {
    font-size: 60px;
    text-decoration: none;
    color: #673ab7;
}